body {
  font-family: "Oswald", "Roboto", sans-serif;
}

#game-card {
  background-color: rgb(62, 71, 71);
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

#game-card > img {
  min-height: 10em;
  max-height: 10em;
}

.nav-container ul:first-child,
.nav-container ul:first-child li:first-child,
.nav-container ul:first-child li:first-child a {
  padding-left: 0;
}

.nav-container ul:last-child,
.nav-container ul:last-child li:last-child,
.nav-container ul:last-child li:last-child a {
  padding-right: 0;
}